<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">User Managment</a>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success mx-2 " type="submit" (click)="register()">Register</button>
        <button class="btn btn-outline-success mx-4" type="submit" (click)="login()">Login</button>
        <button class="btn btn-outline-success mx-4" type="submit" routerLink="user">User</button>
      </form>
    </div>
  </nav>
